<a href="https://colab.research.google.com/github/Yasmine-Hayder/MachineLearning_AssociationsRules/blob/main/Tp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1- Créer Un DataFrame en utilisant les données de fichier ‘’market_basket.txt’’ qui contient les identifiants des caddies et les produits associées.
import pandas as pd
url='https://drive.google.com/file/d/1gs4IESX9QncSq5GLW6m0ganfke3ZQsId/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url,sep='\t')
#2-Afficher les 10 premières lignes du DataFrame.
df.head(10)

   ID                   Product
0   1                   Peaches
1   2             Vegetable_Oil
2   2               Frozen_Corn
3   3                     Plums
4   4               Pancake_Mix
5   5                    Cheese
6   6               Cauliflower
7   7                 2pct_Milk
8   8  98pct_Fat_Free_Hamburger
9   8              Potato_Chips

In [ ]:
#3-Afficher les dimensions du dataframe.
df.shape

(12935, 2)

In [ ]:
#4-Écrire un script python qui permet de Construire un table binaire indiquant la présence de chaque produit au niveau des caddies (True:1 si le produit est
# présent dans le caddie et 0 dans le cas réciproque).
f=df.pivot(values='Product' ,index='ID', columns='Product').fillna(value=0)
for i in range(len(f.axes[0])):
  for j in range(len(f.axes[1])):
    if f.iloc[i,j]!=0:
      f.iloc[i,j]=1
f

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,1,1,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1360,1,0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
1361,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#5-Tester la bibliothèque pandas.crosstab pour construire la table binaire et vérifier que vous avez les mêmes résultats de votre script.
d =pd.crosstab(df["ID"],df["Product"],)

In [ ]:
d

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,1,1,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1360,1,0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
1361,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#6-Afficher les 30 premières transactions et les 3 premiers produits.
d.iloc[:30,:3]

Product  100_Watt_Lightbulb  2pct_Milk  40_Watt_Lightbulb
ID
1                         0          0                  0
2                         0          0                  0
3                         0          0                  0
4                         0          0                  0
5                         0          0                  0
6                         0          0                  0
7                         0          1                  0
8                         0          0                  0
9                         0          0                  0
10                        0          0                  0
11                        0          0                  0
12                        0          0                  0
13                        0          0                  0
14                        0          0                  0
15                        0          0                  0
16                        0          0                  0
17                        0          0                  0
18                        0          0                  0
19                        0          0                  0
20                        0          0                  0
21                        0          0                  0
22                        0          0                  0
23                        0          0                  0
24                        0          0                  0
25                        0          1                  0
26                        1          0                  0
27                        0          0                  0
28                        0          1                  0
29                        0          1                  0
30                        0          0                  0

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules
frq_items = apriori(d, min_support = 0.025, use_colnames = True)
  
frq_items

      support                                           itemsets
0    0.030147                               (100_Watt_Lightbulb)
1    0.109559                                        (2pct_Milk)
2    0.037500                                (60_Watt_Lightbulb)
3    0.031618                                (75_Watt_Lightbulb)
4    0.093382                         (98pct_Fat_Free_Hamburger)
..        ...                                                ...
598  0.025735                (Toothpaste, White_Bread, Tomatoes)
599  0.026471             (Toothpaste, White_Bread, Wheat_Bread)
600  0.026471       (Potato_Chips, White_Bread, 2pct_Milk, Eggs)
601  0.025735         (Toothpaste, White_Bread, 2pct_Milk, Eggs)
602  0.025000  (Potato_Chips, White_Bread, Toothpaste, 2pct_M...

[603 rows x 2 columns]

In [ ]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 4)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

                                  antecedents    consequents  \
820   (Wheat_Bread, 98pct_Fat_Free_Hamburger)  (White_Bread)
1094               (Toothpaste, Toilet_Paper)  (White_Bread)
1076                 (Toilet_Paper, Potatoes)  (White_Bread)
1142    (Potato_Chips, 2pct_Milk, Toothpaste)  (White_Bread)
1023             (Hot_Dog_Buns, Sweet_Relish)     (Hot_Dogs)

      antecedent support  consequent support   support  confidence      lift  \
820             0.029412            0.119118  0.026471    0.900000  7.555556
1094            0.029412            0.119118  0.025735    0.875000  7.345679
1076            0.028676            0.119118  0.025000    0.871795  7.318772
1142            0.028676            0.119118  0.025000    0.871795  7.318772
1023            0.036029            0.092647  0.030147    0.836735  9.031422

      leverage  conviction
820   0.022967    8.808824
1094  0.022232    7.047059
1076  0.021584    6.870882
1142  0.021584    6.870882
1023  0.026809    5.557537

In [ ]:
#8-Afficher les 15 premiers itemsets.
frq_items.iloc[0:15]

     support                    itemsets
0   0.030147        (100_Watt_Lightbulb)
1   0.109559                 (2pct_Milk)
2   0.037500         (60_Watt_Lightbulb)
3   0.031618         (75_Watt_Lightbulb)
4   0.093382  (98pct_Fat_Free_Hamburger)
5   0.031618         (AA_Cell_Batteries)
6   0.025735    (Apple_Cinnamon_Waffles)
7   0.026471               (Apple_Drink)
8   0.031618          (Apple_Fruit_Roll)
9   0.032353                 (Apple_Jam)
10  0.033088               (Apple_Jelly)
11  0.032353               (Apple_Sauce)
12  0.053676                    (Apples)
13  0.066912                   (Aspirin)
14  0.027941               (Avocado_Dip)

In [ ]:
#9-Ecrire une fonction is_inclus() qui permet de vérifier si un sous-ensemble
#items est inclus dans l’ensemble x.
def is_inclus( x, items):
  return items.issubset(x)
print(is_inclus({'1','2','3'},{'1','2'}))

True

In [ ]:
#10-Afficher les itemsets comprenant le produit ‘Aspirin’.
import numpy as np
id = np.where(frq_items.itemsets.apply(is_inclus,items={'Aspirin'}))
print(frq_items.loc[id])

      support                              itemsets
13   0.066912                             (Aspirin)
208  0.034559                  (Aspirin, 2pct_Milk)
249  0.027941   (Aspirin, 98pct_Fat_Free_Hamburger)
272  0.027206                       (Aspirin, Cola)
273  0.025735              (Aspirin, Domestic_Beer)
274  0.038235                       (Aspirin, Eggs)
275  0.027206                   (Aspirin, Hot_Dogs)
276  0.027206                     (Aspirin, Onions)
277  0.027206   (Aspirin, Pepperoni_Pizza_-_Frozen)
278  0.025000               (Aspirin, Popcorn_Salt)
279  0.036029               (Aspirin, Potato_Chips)
280  0.030147                   (Aspirin, Potatoes)
281  0.030147               (Aspirin, Sweet_Relish)
282  0.028676               (Aspirin, Toilet_Paper)
283  0.025000                   (Aspirin, Tomatoes)
284  0.030882                 (Aspirin, Toothpaste)
285  0.025000                (Aspirin, Wheat_Bread)
286  0.041912                (Aspirin, White_Bread)
509  0.025735            (Aspirin, Eggs, 2pct_Milk)
510  0.025000    (Aspirin, Potato_Chips, 2pct_Milk)
511  0.027206     (Aspirin, White_Bread, 2pct_Milk)
552  0.025000         (Aspirin, Potato_Chips, Eggs)
553  0.029412          (Aspirin, White_Bread, Eggs)
554  0.027206  (Aspirin, Potato_Chips, White_Bread)
555  0.025000      (Aspirin, White_Bread, Potatoes)
556  0.025735    (Aspirin, Toothpaste, White_Bread)

In [ ]:
#11-Afficher les itemsets contenant Aspirin et Eggs.
print(frq_items[frq_items['itemsets'].ge({'Aspirin','Eggs'})])

      support                       itemsets
274  0.038235                (Aspirin, Eggs)
509  0.025735     (Aspirin, Eggs, 2pct_Milk)
552  0.025000  (Aspirin, Potato_Chips, Eggs)
553  0.029412   (Aspirin, White_Bread, Eggs)

In [ ]:
#12-Nous produisons les règles à partir des itemsets fréquents.
regles = association_rules(frq_items,metric="confidence",min_threshold=0.75)
#13-Afficher les 5 premières règles.
print(regles.iloc[:5,:])

                 antecedents    consequents  antecedent support  \
0       (Aspirin, 2pct_Milk)  (White_Bread)            0.034559
1     (White_Bread, Bananas)    (2pct_Milk)            0.032353
2       (2pct_Milk, Bananas)  (White_Bread)            0.031618
3        (Wheat_Bread, Cola)    (2pct_Milk)            0.032353
4  (Popcorn_Salt, 2pct_Milk)         (Eggs)            0.033088

   consequent support   support  confidence      lift  leverage  conviction
0            0.119118  0.027206    0.787234  6.608878  0.023089    4.140147
1            0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
2            0.119118  0.025735    0.813953  6.833190  0.021969    4.734743
3            0.109559  0.025735    0.795455  7.260525  0.022191    4.353268
4            0.122794  0.027206    0.822222  6.695941  0.023143    4.934283

In [ ]:
#14-Filtrer les règles en affichant celles qui présentent un LIFT supérieur ou égal à 7.
liftRegles = regles.loc[:,['antecedents','consequents','lift']]
print(liftRegles[liftRegles['lift'].ge(7.0)])

                                antecedents                 consequents  \
1                    (White_Bread, Bananas)                 (2pct_Milk)
3                       (Wheat_Bread, Cola)                 (2pct_Milk)
8                     (Onions, Wheat_Bread)                 (2pct_Milk)
10                  (Wheat_Bread, Potatoes)                 (2pct_Milk)
13                (Toothpaste, Wheat_Bread)                 (2pct_Milk)
16            (Hamburger_Buns, White_Bread)  (98pct_Fat_Free_Hamburger)
17  (Wheat_Bread, 98pct_Fat_Free_Hamburger)               (White_Bread)
29             (Hot_Dog_Buns, Sweet_Relish)                  (Hot_Dogs)
35                 (Toilet_Paper, Potatoes)               (White_Bread)
37               (Toothpaste, Toilet_Paper)               (White_Bread)
41        (Potato_Chips, White_Bread, Eggs)                 (2pct_Milk)
44          (Toothpaste, White_Bread, Eggs)                 (2pct_Milk)
46  (Potato_Chips, White_Bread, Toothpaste)                 (2pct_Milk)
47   (Potato_Chips, White_Bread, 2pct_Milk)                (Toothpaste)
48    (Potato_Chips, 2pct_Milk, Toothpaste)               (White_Bread)
49     (Toothpaste, White_Bread, 2pct_Milk)              (Potato_Chips)

        lift
1   7.260525
3   7.260525
8   7.573897
10  7.053081
13  7.379694
16  8.202379
17  7.555556
29  9.031422
35  7.318772
37  7.345679
41  7.143274
44  7.260525
46  7.569160
47  9.514403
48  7.318772
49  7.725982

In [ ]:
#15-Filtrer les règles en affichant celles menant au conséquent {‘2pct_milk’}.
print(liftRegles[liftRegles['consequents'].eq({'2pct_Milk'})])

                                antecedents  consequents      lift
1                    (White_Bread, Bananas)  (2pct_Milk)  7.260525
3                       (Wheat_Bread, Cola)  (2pct_Milk)  7.260525
7                       (Wheat_Bread, Eggs)  (2pct_Milk)  6.970104
8                     (Onions, Wheat_Bread)  (2pct_Milk)  7.573897
9                (Potato_Chips, Toothpaste)  (2pct_Milk)  6.979866
10                  (Wheat_Bread, Potatoes)  (2pct_Milk)  7.053081
13                (Toothpaste, Wheat_Bread)  (2pct_Milk)  7.379694
41        (Potato_Chips, White_Bread, Eggs)  (2pct_Milk)  7.143274
44          (Toothpaste, White_Bread, Eggs)  (2pct_Milk)  7.260525
46  (Potato_Chips, White_Bread, Toothpaste)  (2pct_Milk)  7.569160